.gradle
/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

/auth/.idea
/auth/.gradle
/auth/out/
/auth/build

/eureka-zuul/.idea
/eureka-zuul/.gradle
/eureka-zuul/out/
/eureka-zuul/build

/eureka_server/.idea
/eureka_server/.gradle
/eureka_server/out/
/eureka_server/build

/gallery/.idea
/gallery/.gradle
/gallery/out/
/gallery/build

/image/.idea
/image/.gradle
/image/out/
/image/build